@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body.light-mode {
  .image {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.15);
  }

  .image:hover {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
  }

  .image:active {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease;
  }

  .image-carousel {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  }

  .image-carousel-next::after, .image-carousel-prev::before, .prev-caret, .next-caret {
    filter: invert(0%) sepia(8%) saturate(7500%) hue-rotate(355deg) brightness(90%) contrast(110%);
  }

  .expand-image {
    filter: invert(98%) sepia(1%) saturate(307%) hue-rotate(212deg) brightness(118%) contrast(100%);
  }

  .modal-overlay {
    background: rgba(255, 255, 255, 0.7);
  }

  .modal-content {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
    background: linear-gradient(-45deg, #ffffff, #cbc0c0, #cfedff, #c5fffc);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: relative;
  }

  .modal-close-button {
    filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(241deg) brightness(98%) contrast(103%);
  }

  .caption {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.3);
    background-color: black;
    color: white;
  }
}

body.dark-mode {
  .image {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.15);
  }

  .image:hover {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;
  }

  .image:active {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease;
  }

  .image-carousel {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  }

  .image-carousel-next::after, .image-carousel-prev::before, .prev-caret, .next-caret {
    filter: invert(98%) sepia(1%) saturate(307%) hue-rotate(212deg) brightness(118%) contrast(100%);
  }

  .modal-overlay {
    background: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.1);
    background: linear-gradient(-45deg, #000000, #0d040f, #05131a, #051d1d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: relative;
  }

  .modal-close-button {
    filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(289deg) brightness(105%) contrast(101%);
  }


  .caption {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: black;
  }
}

.image-carousel {
  display: flex;
  gap: 15px;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 15px 0 30px;
  border-bottom-left-radius: 70% 500px;
  border-bottom-right-radius: 70% 500px;
}

.image {
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.2s ease;
  display: flex;
  justify-content: flex-end;
  align-items:end;
}

.image:hover {
  opacity: 1 !important;

  .expand-image {
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.image:active {

  .expand-image {
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 1);
  }
}

.expand-image {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 0;
  margin: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 60%;
  height: 60%;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.modal-image {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.2s ease;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer; 
  opacity: 0.75;
}

.modal-close-button:hover {
  transition: all 0.3s ease;
  opacity: 1;
}

.prev-caret, .next-caret {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/caret.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
  top: 48%;
  border: none;
  z-index: 1;
}

.prev-caret {
  left: 10px;
  transform: rotate(-90deg);
}

.next-caret {
  right: 10px;
  transform: rotate(90deg);
}

.prev-caret:hover,
.next-caret:hover {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.prev-caret:active,
.next-caret:active {
  opacity: 1;
}

.caption-container {
  display: flex;
  justify-content: center;
}

.caption {
  bottom: 50px;
  padding: 1px 5px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}