@import "../../assets/vars.scss";

body.light-mode {
  .image:hover {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
  }

  .image:active {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.9);
    transition: all 0.2s ease;
  }

  @media only screen and (max-width: 600px) {
    .image:active, .image:hover {
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
    }
  }

  .image-carousel {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), $overlay-background-colour-light, rgba(0, 0, 0, 0));
  }

  .image-carousel-next::after, .image-carousel-prev::before, .prev-caret, .next-caret {
    filter: $filter-svg-light;
  }

  .expand-image {
    filter: $filter-svg-dark;
  }

  .modal-overlay {
    background: rgba(255, 255, 255, 0.7);
  }

  .modal-content {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);;
    position: relative;
  }

  .modal-close-button {
    filter: $filter-svg-light;
  }

  .caption {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
    background-color: $base-background-colour-light;
    color: $secondary-text-colour-light;
  }
}

body.dark-mode {
  .image:hover {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;
  }

  .image:active {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.9);
    transition: all 0.2s ease;
  }

  @media only screen and (max-width: 600px) {
    .image:active, .image:hover {
      box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.15);
    }
  }

  .image-carousel {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), $overlay-background-colour-dark, rgba(255, 255, 255, 0));
  }

  .image-carousel-next::after, .image-carousel-prev::before, .prev-caret, .next-caret {
    filter: invert(98%) sepia(1%) saturate(307%) hue-rotate(212deg) brightness(118%) contrast(100%);
  }

  .modal-overlay {
    background: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.1);;
    position: relative;
  }

  .modal-close-button {
    filter: $filter-svg-dark;
  }

  .caption {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.3);
    background-color: $base-background-colour-dark;
    color: $secondary-text-colour-dark;
  }
}

.image-slider {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 10px 0 10px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}

.image-slider::-webkit-scrollbar {
  display: none; 
}

.image {
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  flex: 0 0 auto;
  margin-bottom: 2px;
  width: 300px;
  height: 300px;
  transition: transform 0.2s ease;
}

.expand-image {
  display: none;
}

@media only screen and (min-width: 601px) {
  .image:hover, .image:active  {
    .expand-image {
      display: block;
      height: 20px;
      width: 20px;
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 5px;
      padding: 0;
      margin: 5px;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 50%;
  height: 75%;
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.modal-image {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 0.2s ease;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.75;
}

.modal-close-button:hover {
  transition: all 0.3s ease;
  opacity: 1;
}

.prev-caret,
.next-caret {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/caret.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
  top: 48%;
  border: none;
  z-index: 1;
}

.prev-caret {
  left: 10px;
  transform: rotate(-90deg);
}

.next-caret {
  right: 10px;
  transform: rotate(90deg);
}

.prev-caret:hover,
.next-caret:hover {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.prev-caret:active,
.next-caret:active {
  opacity: 1;
}

.caption-container {
  display: flex;
  justify-content: center;
}

.caption {
  bottom: 50px;
  padding: 2px 6px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.image-slider-reverse {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 10px 10px 10px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  flex-direction: row-reverse;
}

.image-slider-reverse::-webkit-scrollbar {
  display: none; 
}

@media only screen and (max-width: 600px) {
  .image {
    height: 100px !important;
    width: 100px !important;
  }

  .modal-content {
    height: 50%;
    width: 90%;
  }

  .modal-image {
    width: 80% !important;
    margin: auto;
  }
}