@import "../../assets/vars.scss";

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

body.light-mode {
  .bio-text {
    background-color: $overlay-background-colour-light;
  } 
}

body.dark-mode {
  .bio-text {
    background-color: $overlay-background-colour-dark;
  } 
}

.bio-group {
  animation: slideIn 1s 1.5s forwards; 
  display: flex;
  margin: 20px 0;
  gap: 30px;
  opacity: 0;
  transform: translateX(50px); 
}

.bio-text {
  padding: 15px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .bio-group {
    flex-direction: column;
    margin: 5px -45px 20px;
    gap: 0;
  }

  .bio-text {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 12px;
  } 
}
