body.light-mode {
  .bio-text {
    background-color: rgba(0, 0, 0, 0.1);
  } 
}

body.dark-mode {
  .bio-text {
    background-color: rgba(255, 255, 255, 0.1);
  } 
}

.bio-group {
  display: flex;
  margin: 20px 0;
  gap: 30px;
  
}

.bio-text {
	padding: 20px 20px;
	border-radius: 5px;
} 