@import "../../assets/vars.scss";

body.light-mode {
  .time-annotation, .time-slit, .mode-identifier {
    background-color: $base-background-colour-light;
    color: $secondary-text-colour-light;
  }

  .annotation-icon {
    filter: $filter-svg-dark;
  }

}

body.dark-mode {
  .time-annotation, .time-slit, .mode-identifier {
    background-color: $base-background-colour-dark;
    color: $secondary-text-colour-dark;
  }

  .annotation-icon {
    filter: $filter-svg-light;
  }

}

.loader-container{
  position: fixed;
  display: flex;
  margin-left: 20px;
  top: 20px;
}
  
.loader {
  width: 48px;
  height: 48px;
  border: 2px solid black;
  border-radius: 50%;
  animation: rotation 1.2s linear infinite;
}

.loader::after, .loader::before {
  content: '';
  position: absolute;
  background: black;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}

.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}
  
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
  
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.mode-identifier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 5px;
  border-radius: 10px;
  font-size: 12px;
  margin-left: -4px;
}
  
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.mode-identifier-title {
  display: flex;
  align-items: center;
  font-size: 12pt;
  gap: 3px;

  .annotation-icon {
    width: 16px;
    height: 16px;
  }
}
  
.mode-identifier-text {
  display: none;
  margin: 0 0 2px;
  white-space: nowrap;
}
  
.time-slits-container {
  padding: 20px 0 0 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  opacity: 0.75;
  position: absolute;
  top: 0;
}
  
.time-slits-container:hover {
  transition: all 0.3s ease;
  opacity: 1;
}
  
.time-slit-container {
  display: flex;
  position: relative;
}
  
.time-slit {
  height: 4px;
  border-radius: 5px;
  transition: width 0.2s ease, opacity 0.2s ease;
}
  
.time-annotation {
  position: absolute;
  top: -5px;
  left: -4px;
  padding: 0 4px;
  border-radius: 10px;
  font-size: 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
  
.time-annotation:hover {
  top: -6px;
  padding: 1px 5px;
  transition: all 0.3s ease;
  gap: 2px;
}
  
.annotation-icon {
  width: 12px;
  height: 12px;
  margin-left: -2px;
}
  
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
  
.annotation-icon-animation {
  animation: pulse 1s infinite;
}

@media only screen and (min-width: 601px) {
  .mode-identifier:hover {
    padding: 1px 10px 1px 5px;
    border-radius: 5px 40px 40px 5px;
    transition: all 0.2s ease;
    transition: border-bottom-left-radius 0s ease;
    transition: border-bottom-right-radius 0s ease;
  
    .annotation-icon {
      animation: spin 5s infinite linear;
    }
    
    .mode-identifier-text {
      display: block;
      transition: all 0.2s ease;
    }
  }

  .theme-identifier-text{
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .loader {
    width: 20px;
    height: 20px;
  }

  .mode-identifier:hover {
    .mode-identifier-text {
      display: none;
    }
  }

  .annotation-icon {
    margin: 0;
  }

  .mode-identifier {
    padding: 3px 5px;
  }

  .theme-identifier-text{
    display: none;
  }

  .time-slit-container{
    display: none;
  }
}