@import "../../assets/vars.scss";

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body.light-mode {
  .contact-box {
    background: $background-gradient-animation-light;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: $box-shadow-light;
  }

  .contact-box-header {
    background-color: $overlay-background-colour-light;
  }

  .contact-box-photo-wrapper {
    box-shadow: $box-shadow-light;
  }

  .contact-box-close {
    filter: $filter-svg-light;
  }

  .contact-box-speech {
    background-color: $overlay-background-colour-light;
  }

  .contact-box-option {
    box-shadow: $box-shadow-light;
  }

  @media only screen and (min-width: 601px) {
    .contact-box-option:hover {
      background-color: $overlay-background-colour-dark;
    }
  }

  .contact-box-option-selected {
    background-color: $overlay-background-colour-light;
  }
  
  .response-link {
    color: $secondary-text-colour-light;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .response-link:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .response-icon {
    filter: $filter-svg-dark;
  }
}
  
body.dark-mode {
  .contact-box {
    background: $background-gradient-animation-dark;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: $box-shadow-dark;
  }

  .contact-box-header {
    background-color: $overlay-background-colour-dark;
  }

  .contact-box-photo-wrapper {
    box-shadow: $box-shadow-dark;
  }

  .contact-box-close {
    filter: $filter-svg-dark;
  }

  .contact-box-speech {
    background-color: $overlay-background-colour-dark;
  }

  .contact-box-option {
    box-shadow: $box-shadow-dark;
  }

  @media only screen and (min-width: 601px) {
    .contact-box-option:hover {
      background-color: $overlay-background-colour-dark;
    }
  }

  .contact-box-option-selected {
    background-color: $overlay-background-colour-dark;
  }
  
  .response-link {
    color: $secondary-text-colour-dark;
    background-color: rgba(255, 255, 255, 0.75);;
  }
  
  .response-link:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .response-icon {
    filter: $filter-svg-light;
  }
}

.contact-box {
  left: auto;
  top: auto;
  width: 350px;
  height: 545px;
  right: 30px;
  bottom: 30px;
  border-radius: 10px;;
  position: absolute;
}

.contact-box-header {
  left: auto;
  top: auto;
  width: 100%;
  height: 80px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px 0 0;
}

.contact-box-photo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 0 0 10px;
}

.contact-box-name {
  margin: 0;
  font-size: 16pt;
  font-weight: 500;
}

.contact-box-cue {
  margin: 0;
  font-size: 12pt;
}

.contact-box-photo-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden; 
  position: relative;
}

.contact-box-photo {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  object-position: center; 
  transform: scale(1.2);
}

.contact-box-close {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  background-image: url("../../assets/close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.75;
}

.contact-box-close:hover {
  transition: all 0.3s ease;
  opacity: 1;
}

.contact-box-conversation {
  height: calc(100% - 80px);
  overflow-y: auto;
}

.contact-box-bot {
  max-width: 70%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-box-speech {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

.contact-box-user {
  margin: 10px;
  float: right;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.contact-box-option, .contact-box-option-selected {
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.contact-box-bot-shift {
  margin-top: 80px
}

@media only screen and (max-width: 600px) {
  .contact-box {
    top: 70px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    position: fixed;
    width: calc(100% - 10px);
    height: calc(100% - 80px);
  }
}

.response-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  padding: 10px;
  margin: -10px;
  border-radius: 10px;
}

.response-link:hover {
  transition: all 0.2s ease;
}

.response-icon {
  height: 17px;
  width: 17px;
}