@import "../../assets/vars.scss";

body.light-mode {
  .navbar-button {
    background-color: black;
    color: white;
  }

  .navbar-icon {
    filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(289deg) brightness(105%) contrast(101%);
  }
}
  
body.dark-mode {
  .navbar-button {
    background-color: white;
    color: black;
  }

  .navbar-icon {
    filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(241deg) brightness(98%) contrast(103%);
  }
}
  
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}
  
.navbar-button {
  border: none;
  border-radius: 10px;
  padding: 2px 8px;
  font-size: 12pt;
  top: 20px;
  position: relative;
  opacity: 0.75;
  display: flex;
  align-items: center;
  gap: 5px;
}
  
.navbar-button:hover {
  transition: all 0.3s ease;
  border-radius: 8px;
  opacity: 1;
}
  
.navbar-button.active {
  border-radius: 8px;
  opacity: 1;
}

.navbar-icon {
  margin: 0;
	width: 16px;
	height: 16px;
}

.navbar-icon-play {
	width: 17px;
	height: 17px;
}

.navbar-icon-about {
	margin-left: -3px;
}

.navbar-icon-experience {
  width: 15px;
	height: 15px;
}