@import "../../assets/vars.scss";

body.light-mode {
  .navbar-button {
    background-color: $base-background-colour-light;
    color: $secondary-text-colour-light;
  }

  .navbar-icon {
    filter: $filter-svg-dark;
  }
}
  
body.dark-mode {
  .navbar-button {
    background-color: $base-background-colour-dark;
    color: $secondary-text-colour-dark;
  }

  .navbar-icon {
    filter: $filter-svg-light;
  }
}
  
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}
  
.navbar-button {
  border: none;
  border-radius: 10px;
  padding: 2px 8px;
  font-size: 12pt;
  top: 20px;
  position: relative;
  opacity: 0.75;
  display: flex;
  align-items: center;
  gap: 5px;
}
  
.navbar-button:hover {
  transition: all 0.3s ease;
  border-radius: 8px;
  opacity: 1;
}
  
.navbar-button.active {
  border-radius: 8px;
  opacity: 1;
}

.navbar-icon {
  margin: 0;
	width: 16px;
	height: 16px;
}

.navbar-icon-play {
	width: 17px;
	height: 17px;
}

.navbar-icon-about {
	margin-left: -3px;
}

.navbar-icon-experience {
  width: 15px;
	height: 15px;
}


@media only screen and (max-width: 600px) {
  .hide-from-mobile {
    display: none;
  }

  .navbar-button {
    padding: 3px 5px;
  }

  .navbar-icon-about {
    margin: 0px;
  }
}