@import "../../assets/vars.scss";

body.light-mode {
  .navbar-button {
    background-color: $base-background-colour-light;
    color: $secondary-text-colour-light;
  }

  .navbar-icon {
    filter: $filter-svg-dark;
  }

  .navbar-tooltip {
    background-color: black;
    color: white;
  }
}
  
body.dark-mode {
  .navbar-button {
    background-color: $base-background-colour-dark;
    color: $secondary-text-colour-dark;
  }

  .navbar-icon {
    filter: $filter-svg-light;
  }

  .navbar-tooltip {
    background-color: white;
    color: black;
  }
}
  
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}
  
.navbar-button {
  border: none;
  border-radius: 10px;
  padding: 2px 8px;
  font-size: 12pt;
  top: 20px;
  position: relative;
  opacity: 0.75;
  display: flex;
  align-items: center;
  gap: 5px;
}
  
.navbar-button:hover {
  transition: all 0.3s ease;
  border-radius: 8px;
  opacity: 1;
}

.navbar-button.active {
  border-radius: 8px;
  opacity: 1;
}

.navbar-icon {
  margin: 0;
	width: 16px;
	height: 16px;
}

.navbar-icon-play {
	width: 17px;
	height: 17px;
}

.navbar-icon-about {
	margin-left: -3px;
}

.navbar-icon-projects {
  width: 15px;
	height: 15px;
}

.navbar-tooltip {
  position: absolute;
  top: -16px;
  left: 90px;
  background-color: white;
  color: black;
  padding: 2px 10px;
  border-radius: 10px;
  font-family: "Arial";
  font-size: 16px;
  opacity: 1;
  width: 300px;
  transition: opacity 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .hide-from-mobile {
    display: none;
  }

  .navbar-button {
    padding: 3px 5px;
  }

  .navbar-icon-about {
    margin: 0px;
  }

  .navbar-tooltip {
    position: absolute;
    top: -12px;
    left: 45px;
    background-color: white;
    color: black;
    padding: 5px 0px 3px;
    border-radius: 10px;
    font-family: "Arial";
    font-size: 12px;
    opacity: 1;
    width: 35px;
    transition: opacity 0.3s ease;
  }
}