@import "../../assets/vars.scss";

body.light-mode {
  .footer {
    background-color: rgba(0, 0, 0, 0.05);
    color: #000000;
  }

  .footer a {
    color: #000000; 
  }

  .icon {
    filter: $filter-svg-light;
  }
}

body.dark-mode {
  .footer {
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
  }

  .footer a {
    color: #ffffff; 
  }

  .icon {
    filter: $filter-svg-dark;
  }
}

.footer {
  padding: 20px 40px 30px;
  margin: 0 50px 0;
  border-radius: 50px 50px 0 0;
  font-family: "Futura", sans-serif;
}

.footer-content {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  gap: 20px;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.location {
  margin: 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-tagline {
  margin: 0;
}

.footer a, .footer p {
  text-decoration: none;
  opacity: 0.75;
  margin-bottom: 5px;
}

.footer a:hover {
  transition: all 0.2s ease;
  opacity: 1;
  text-decoration: underline;
}

.icon {
  height: 13px;
  width: 13px;
  margin-right: 6px;
}

.location-icon {
  height: 15px;
  width: 15px;
  margin-bottom: -1px;
}

.mail-icon {
  margin-bottom: -1px;
}