body.light-mode {
  .title-backing, .subtitle-backing {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 0, 0));
    color: white;
  }
}
  
body.dark-mode {
  .title-backing, .subtitle-backing {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(255, 255, 255));
  }
}

.headline:hover {
  .title, .subtitle {
    opacity: 1;
    transition: all 0.5s ease;
  }
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: fit-content;
}
  
.title {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-size: 4.5rem;
  margin: 0;
  opacity: 0.95;
}

.subtitle {
  font-family: "Playwrite AU SA", serif;
  font-weight: 400;
  font-size: 2rem;
  margin: -10px 0 0 -20px;
  opacity: 0.95;
}