@import "assets/vars.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Futura", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body.light-mode {
  color: $base-text-colour-light;
  background: $background-gradient-animation-light;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

body.dark-mode {
  color: $base-text-colour-dark;
  background: $background-gradient-animation-dark;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

body {
	height: 100vh;
}

.main-content {
	width: 60%;
	margin: 100px auto 0;
}