* {
  box-sizing: border-box;
}

body {
  font-family: "Futura", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body.light-mode {
  color: black;
  background: linear-gradient(-45deg, #ffffff, #cbc0c0, #cfedff, #c5fffc);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

body.dark-mode {
  color: white;
  background: linear-gradient(-45deg, #000000, #0d040f, #05131a, #051d1d);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}