/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Futura", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
  color: #000000;
  background-color: #ffffff;

  .time-annotation, .time-slit, .mode-identifier {
    background-color: black;
    color: white;
  }

  .annotation-icon {
    filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(289deg) brightness(105%) contrast(101%);
  }
}

body.dark-mode {
  color: #ffffff;
  background-color: #000000;

  .time-annotation, .time-slit, .mode-identifier {
    background-color: white;
    color: black;
  }

  .annotation-icon {
    filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(241deg) brightness(98%) contrast(103%);
  }
}

.mode-identifier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 12px;
  margin-left: -4px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mode-identifier:hover {
  padding: 1px 5px;
  border-radius: 5px;
  transition: all 0.2s ease;

  .annotation-icon {
    animation: spin 5s infinite linear;
  }

  .mode-identifier-text {
    display: block;
    transition: all 0.2s ease;
  }
}

.mode-identifier-title {
  display: flex;
  align-items: center;
  gap: 3px;
}

.mode-identifier-text {
  display: none;
  font-size: 8px;
  margin: 0 0 3px;
  white-space: nowrap;
}

.time-slits-container {
  padding: 20px 0 0 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100px;
}

.time-slit-container {
  display: flex;
  position: relative;
}

.time-slit {
  height: 4px;
  border-radius: 5px;
  transition: width 0.2s ease, opacity 0.2s ease;
}

hover {
  opacity: 1;
}

.time-annotation {
  position: absolute;
  top: -5px;
  left: -4px;
  padding: 0 4px;
  border-radius: 10px;
  font-size: 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.time-annotation:hover {
  top: -6px;
  padding: 1px 5px;
  transition: all 0.3s ease;
  gap: 2px;
}

.annotation-icon {
  width: 12px;
  height: 12px;
  margin-left: -2px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.annotation-icon-animation {
  animation: pulse 1.5s infinite;
}