@import "../../assets/vars.scss";

body.light-mode {
  .coming-soon {
    background: rgb(0, 0, 0, 0.05);
  }
}

body.dark-mode {
  .coming-soon {
    background: rgb(255, 255, 255, 0.05);
  }
}

.play-section {
  width: 80%;
  margin: auto;
  margin-top: -50px;
  padding-top: 50px;
  opacity: 0;
  text-align: left;
  animation: appearProjects 2s 1.5s forwards;

  @media only screen and (max-width: 600px) {
    width: 90%;
    margin: -50px auto auto 10%;
  }
}

.play-title {
  font-weight: 400;
  font-size: 4rem;
  margin: 0;
  margin-bottom: 10px;
  opacity: 0.95;

  @media only screen and (max-width: 600px) {
    font-size: 2.4rem;
    margin-bottom: 15px;
  }
}

.games {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  overflow-x: auto;
  width: 100%;
}

.coming-soon {
  height: 450px;
  width: 450px;
  border-radius: 15px;
  margin: 0px auto 100px;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.coming-soon-text {
  margin-top: 32px;
  font-weight: 400;
  font-size: 2.4rem;
  opacity: 0.5;
  text-align: center;
}